.mantineRating {
  max-width: 348px;
  width: 100%;
  margin: 16px 0;
}

.modalTitle {
  padding-top: 16px;
  width: 100%;
  border-top: 0.5px solid rgba(234, 235, 237, 1);
  font-size: 16px;
  font-weight: 700;
}

.fillButton {
  border-radius: 10px;
}

.transporentButton {
  padding: 0;
}
