.noMovies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 24px auto;
}

.noMovies p {
  font-weight: 600;
  font-size: 20px;
}
