.ratedMoviesPage {
  height: 900px;
  max-width: 980px;
}

.ratedMovies {
  margin-left: 90px;
  width: 980px;
}

.ratedMoviesHeaders {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.ratedMoviesHeaders h1 {
  font-weight: 700;
  font-size: 32px;
}

.ratedMoviesSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  width: 490px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 8px;
  box-sizing: border-box;
}

.ratedMoviesSearch input {
  border: 0;
  width: 100%;
}

.ratedMoviesSearch input[type='text'] {
  font-size: 14px;
  font-weight: 400;
}

.ratedMoviesSearch input[type='text']:focus {
  outline: none;
}

.ratedMoviesSearchText {
  display: flex;
  gap: 8px;
  width: 100%;
}

.ratedMoviesSearch button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  width: 88px;
  height: 32px;
  background: rgba(152, 84, 246, 1);
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.ratedMoviesSearch button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.noRatedPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
  max-width: 1160px;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.noRatedItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noRatedItem p {
  margin: 16px 0;
  font-weight: 600;
  font-size: 20px;
}

.noRatedItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 122px;
  height: 40px;
  background: rgba(152, 84, 246, 1);
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
}

.noRatedItem a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.movieList {
  min-height: 452px;
}

.movieList p {
  font-weight: 400;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin: 24px 0 0 90px;
}
