.sidebar {
  width: 280px;
  padding: 24px;
  background-color: rgba(242, 235, 249, 1);
}

.links {
  margin: 80px 0 0 0;
  width: 232px;
  display: flex;
  flex-direction: column;
}

.links li {
  width: 100%;
  height: 42px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  border: 0;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
}

.links li:hover {
  background-color: rgba(229, 213, 250, 1);
  font-weight: 700;
  color: rgba(152, 84, 246, 1);
}